@import url("https://fonts.googleapis.com/css?family=Raleway");
/* line 1, ../sass/_laravel.scss */
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

/* line 10, ../sass/_laravel.scss */
.full-height {
  height: 100vh;
}

/* line 14, ../sass/_laravel.scss */
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* line 20, ../sass/_laravel.scss */
.position-ref {
  position: relative;
}

/* line 24, ../sass/_laravel.scss */
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

/* line 31, ../sass/_laravel.scss */
.title {
  font-size: 84px;
}

/* line 35, ../sass/_laravel.scss */
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 45, ../sass/_laravel.scss */
.m-b-md {
  margin-bottom: 30px;
}

/* line 4, ../sass/voteos.scss */
html {
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: repeat-x;
}
/* line 11, ../sass/voteos.scss */
html body {
  color: black;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: repeat-x;
}
/* line 18, ../sass/voteos.scss */
html body .nav-brand {
  margin-right: 0;
}
/* line 19, ../sass/voteos.scss */
html body .navbar-toggler {
  padding: 0.25rem;
}
/* line 21, ../sass/voteos.scss */
html body > div.container {
  background: white;
}
/* line 25, ../sass/voteos.scss */
html h1 a:hover {
  text-decoration: none;
}
/* line 27, ../sass/voteos.scss */
html a.disabled, html a:disabled {
  color: gray;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
/* line 35, ../sass/voteos.scss */
html blockquote p {
  margin-bottom: 0.4em;
}
/* line 41, ../sass/voteos.scss */
html .forumPost {
  padding: 0.5em 0 0 0.5em;
}
/* line 42, ../sass/voteos.scss */
html .blockquote {
  font-size: 1em;
}
/* line 43, ../sass/voteos.scss */
html #reply .modal-dialog {
  max-width: 75%;
}
/* line 46, ../sass/voteos.scss */
html #markdown img, html .markdown img {
  width: 100%;
}
